@import url("https://use.typekit.net/xol1nzx.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

$max-w-container: 1500px;

body {
  @apply bg-brand-blue;
}

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  backface-visibility: hidden;
  font-kerning: normal;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}


#prismic-toolbar-v2 {
  @apply hidden;
}

@layer utilities {
  .container {
    @apply mx-auto px-5 lg:px-10;
    max-width: $max-w-container;
  }

  .pl-container {
    @apply pl-2.5 lg:pl-6;
  }

  .pr-container {
    @apply pr-2.5 lg:pr-6;
  }

  .px-container {
    @apply px-2.5 lg:px-6;
  }

  .max-w-container {
    max-width: $max-w-container;
  }
}
